@use "abstracts" as a;
@use "mixins/base.scss" as base;

body {
  @include base.base;

  // todo: put another homepage background in or put the girl to the right side
  background-image: url("../images/img/website-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: overlay;

  color: a.$text-co;
}

/* |||nav-bar#######||| */
.nav {
  height: 3rem;

  background: #0a0505;
  border-bottom: solid #f08080;

  position: sticky;
  top: 0px;
}

/* |nav_list'''''''| */
/* the side navigation menu */
.nav__option {
  height: 100vh; /* 100vh Full-height */
  width: 0; /* 0 width - change this with JavaScript */

  background-color: a.$background-co;

  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto;
  white-space: nowrap;
  transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */

  padding: 2rem 0;
}

// .nav__option h3 {
//   @include base.base;
// }

.nav__logo {
  width: 15rem;
  margin: 2rem 0 1rem 0;

  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.nav__item {
  font-size: a.$m-h3-sz;
  color: a.$text-co;

  display: block;
  padding: 1rem 0 1rem 1rem;
  margin: 0;

  transition: 0.1s;

  &:hover {
    color: a.$text-co-darken;
  }
  &:active {
    color: a.$highlighted-text-co;
  }
}

/* ||burger-menu=======|| */
.burger-menu {
  filter: a.$svg-black;
  filter: a.$svg-co;

  position: relative;
  top: 50%;
  left: 1.25rem;
  transform: translate(0, -50%);

  &:hover {
    filter: a.$svg-black;
    filter: a.$svg-co-darken;
  }

  &:active {
    filter: a.$svg-black;
    filter: a.$svg-highlighted-co;
  }
}

/* Position and style the close button (top right corner) */
.nav__close-btn {
  position: absolute;
  top: 0;
  left: 1.5rem;
  color: a.$text-co;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

/* |||header#######||| */
.header {
  height: 75vh;

  background-image: url("../images/img/header-homepage-cropped.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;

  border-bottom: solid #f08080;
}
